<!doctype html>
<html>
  <head>
    <title>About / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%>!</h1>
    <h2>Browse topics, reply to others' posts, and make your own!</h2>
    <a href="/logout"><p>Return to Home Page</p></a>
  </body>
</html>