<!doctype html>
<html>
  <head>
    <title>Home / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <% if (userData) { %>
      <h2>Logged in as: <%=userData.name%></h2>
    <% } %>
    <% if (userData) { %>
      <a href="/logout"><button type="button">Log Out</button></a>
    <% } else { %>
      <p>
        <a href="/register"><button type="button">Sign Up</button></a>
        <a href="/login"><button type="button">Log In</button></a>
      </p>
    <% } %>
    <p><a href="/topiclist">Topics</a></p>
    <p><a href="/userlist">Users</a></p>
    <p><a href="/allposts">All Posts</a></p>
    <p><a href="/makepost">Make a Post</a></p>
    <p><a href="/search">Search</a></p>
    <p><a href="/about">About</a></p>
  </body>
</html>