<!doctype html>
<html>
  <head>
    <title>Home / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%>!</h1>
    <p><a href="/register">SIGN UP</a></p>
    <p><a href="/login">LOG IN</a></p>
    <p><a href="/topiclist">Topics</a></p>
    <p><a href="/userlist">Users</a></p>
    <p><a href="#">All Posts</a></p>
    <p><a href="/makepost">Make a Post</a></p>
    <p><a href="#">Search</a></p>
    <p><a href="#">About</a></p>
  </body>
</html>