<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteName%></h1>
    <p><a href="#">Topics</a></p>
    <p><a href="#">Users</a></p>
    <p><a href="#">Posts</a></p>
    <p><a href="#">Add a Post</a></p>
    <p><a href="#">Search</a></p>
    <p><a href="#">About</a></p>
  </body>
</html>