<!doctype html>
<html>
  <head>
    <title>Topic list / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%> Topic list</h1>
    <ul>
      <!-- For loop iterates through topics array -->
      <% for (let i = 0; i < topics.length; i++) { %>
        <!-- Display all topics on page -->
        <li><a href=/topic/<%= topics[i].name %>><%= topics[i].name %></a></li>
      <% } %>
    </ul>
    <% if (userData) { %>
      <% if (userData.isMod) { %>
      <form method="POST" action="/topicadded">
          <input id="newtopicname" type="text" name="newtopicname" maxlength="45" size="20" />
          <input type="submit" value="Add Topic" />
      </form>
      <% } %>
    <% } %>
  </body>
</html>